In [18]:
# Clustering of timeseries data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tsfresh import extract_features

In [24]:
df = pd.read_csv('../../Group Project Stage/snapshot_full_df.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
aggregate = df.groupby(['sku_key', 'tran_date']).agg({'sales':'sum', 'selling_price':'mean', 'avg_discount': 'mean'})
aggregate.reset_index(inplace=True)

In [31]:
categorical = df[['sku_key', 'sku_department',
                   'sku_subdepartment', 'sku_category', 'sku_subcategory']]

In [32]:
nw_df = pd.DataFrame([], columns=['sku_key','sku_department','sku_subdepartment','sku_category','sku_subcategory'])
for i in categorical['sku_key'].unique():
    nw_df = pd.concat([nw_df, pd.DataFrame(categorical[categorical['sku_key'] == i].iloc[0]).T])

In [33]:
nw_df.reset_index(inplace=True, drop=True)

In [34]:
aggregate['sku_key'] = aggregate['sku_key'].astype(int)
nw_df['sku_key'] = nw_df['sku_key'].astype(int)

In [35]:
aggregate_df = aggregate.merge(nw_df, how='left', on='sku_key')

In [36]:
aggregate_df.head()

,sku_key,tran_date,sales,selling_price,avg_discount,sku_department,sku_subdepartment,sku_category,sku_subcategory
0,28,2016-03-02,1,89.9,0.0,TY,06,063,20G
1,28,2016-03-03,0,89.9,0.0,TY,06,063,20G
2,28,2016-03-04,0,89.9,0.0,TY,06,063,20G
3,28,2016-03-05,0,89.9,0.0,TY,06,063,20G
4,28,2016-03-06,0,89.9,0.0,TY,06,063,20G

In [37]:
aggregate_df.to_csv('aggregate_products.csv', index=False)

In [13]:
aggregate_df['tran_date'] = pd.to_datetime(df['tran_date'])

In [14]:
extracted_features = extract_features(aggregate_df[['sku_key', 'tran_date', 'sales']], column_id="sku_key", column_sort="tran_date")

Feature Extraction: 100%|██████████| 20/20 [43:58<00:00, 36.22s/it]

In [15]:
extracted_features.to_csv('extracted_features.csv')

In [16]:
categorical = aggregate_df[['sku_key', 'sku_department',
                   'sku_subdepartment', 'sku_category', 'sku_subcategory']]

nw_df = pd.DataFrame([], columns=['sku_key','sku_department','sku_subdepartment','sku_category','sku_subcategory'])
for i in categorical['sku_key'].unique():
    nw_df = pd.concat([nw_df, pd.DataFrame(categorical[categorical['sku_key'] == i].iloc[0]).T])
    
nw_df.reset_index(inplace=True, drop=True)
nw_df.to_csv('sku_labels.csv', index=False)